
<div class="toolbar" role="banner">

  <img
    width="40"
    alt="Angular Logo"
    src="https://angular.io/assets/images/logos/angular/angular.png"
  />
  <span>The Farm - Management</span>
  <div class="card-container">
    <button mat-raised-button class="create-coral-btn" (click)="openFormModal()">Crear Corral</button>
    <button mat-raised-button class="manage-corrals-btn" (click)="openCorralsListModal()">Gestión de Corrales</button>
    <button mat-raised-button class="create-animal-btn" (click)="openCreateAnimal()">Creación de Animales</button>
  </div>
    <div class="spacer"></div>
    <a aria-label="GitHub" target="_blank" rel="noopener" href="https://github.com/jhonfabernorena/PRUEBA-TECNICA-DESARROLLADOR-JUNIOR-2024.git" title="GitHub">
      <svg id="github-logo" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="fff">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.54 5.47 7.59.4.08.55-.17.55-.39v-1.39c-2.21.48-2.67-1.07-2.67-1.07-.36-.9-.87-1.14-.87-1.14-.71-.49.05-.48.05-.48.79.05 1.21.81 1.21.81.71 1.22 1.86.86 2.31.66.07-.52.28-.86.51-1.06-1.76-.2-3.62-.88-3.62-3.92 0-.86.31-1.57.82-2.12-.08-.2-.36-1.01.08-2.1 0 0 .66-.21 2.16.81.63-.17 1.32-.25 2-.25s1.37.08 2 .25c1.5-1.02 2.16-.81 2.16-.81.44 1.09.16 1.9.08 2.1.51.55.82 1.26.82 2.12 0 3.05-1.86 3.72-3.63 3.92.29.25.56.74.56 1.5v2.22c0 .23.15.48.55.39C13.71 14.54 16 11.54 16 8c0-4.42-3.58-8-8-8z"/>
      </svg>
    </a>
  
    
</div>

<div class="content" role="main">

  <div class="card highlight-card card-small">


    <span>{{ title }}!</span>


  </div>

  <h2>Bienvenido</h2>




  <footer>
    
  </footer>



</div>
